@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Univermag', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  overflow-x: hidden;
}